#container {
  color: rgb(255, 255, 255);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  border-radius: 5px;
}

.options-section {
  display: flex;
  flex-direction: column;
}

.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
}

dialog {
  background-color: rgb(0, 166, 255, 0.25);
}

.data-entry {
  background-color: rgb(255, 255, 255);
  border: none;
  margin: 0.25rem;
}

.data-entry.active {
  background-color: rgb(0, 166, 255);
}
