#container {
  background-color: rgb(33, 33, 33);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  font-size: 0.75rem;
}

.map-section {
  display: grid;
  grid-template-columns: repeat(var(--cols), 0fr);
  margin: 0rem;
  padding: 0rem;
}

.cell-button {
  background-color: rgb(0, 0, 0);
  margin: 0rem;
  width: 0.35rem;
  height: 0.35rem;
  min-width: 0px;
  border: 1px solid rgb(33, 33, 33);
}

.cell-button--alive {
  background-color: rgb(0, 166, 255);
}

#footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.info-section {
  color: rgb(255, 255, 255);
}

#footer > :nth-child(1) {
  align-items: flex-start;
}

.status-display {
  background-color: rgb(255, 225, 0);
  color: rgb(0, 0, 0);
  min-width: 4rem;
  min-height: 1rem;
}

.data-entry-section {
  display: flex;
  flex-direction: row;
}

.data-entry {
  background-color: rgb(255, 255, 255);
  border: none;
  margin: 0.25rem;
}

.data-entry--slider-label {
  width: 3rem;
}

.data-entry.active {
  background-color: rgb(0, 166, 255);
}
