main {
  max-width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: inherit;
  position: relative;
  background-color: rgb(0, 0, 0);
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.content > :nth-child(2) {
  grid-column: 3 / 5;
}
