main {
  max-width: 1500px;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
  background-color: rgb(0, 221, 255);
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(2, 1fr); */
  width: 100%;
  /* max-width: 900px; */
  /* margin-bottom: 3rem; */
  border: 1px dashed black;
  padding: 10px;
}