#container {
    background-color: rgb(29, 29, 29);
    /* box-shadow: inset 3em 1.5em rgb(255, 255, 255) ; */
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 5px;
}

.config-section {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    color: snow;
}

.organisms-section {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    color: snow;
}

.button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}